---
---
@import "moonwalk";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: justify;
  }
  p.view {
    text-align: justify;
  }
}
section  {
  p {
    text-align: left;
  }
}
footer  {
  p {
    text-align: left;
  }
}
@import "list";
@import "syntax";
